@import "helpers/bootstrap/scss/bootstrap";
@import "helpers/placeholders";

// Setting defaults
body {
  @extend %hide-scrollbar;
  font-family: Roboto, sans-serif, Verdana;
  //height: 100vh;
  padding: 0;
  margin: 0;
}

.jumbotron,
.jumbotron-fluid,
.active,
body {
  @extend .bg-light;
}

.main-content {
  @extend .py-5;
  @extend .d-flex;
  @extend .d-flex;
  @extend .flex-wrap;
  @extend .col-12;
  @extend .align-items-start;
  @extend .justify-content-center;
  @extend .shadow-lg;
  background-color: white;
  padding: 4rem;
  h1,
  h2,
  h3 {
    color: hsl(38, 35%, 68%);
  }

  h1,
  h2,
  h3,
  h4 {
    padding-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;

  }

  .first-p::first-line {
    color: black;
    font-weight: bold;
  }

  .first-p::first-line {
    font-size: 1.25rem;
  }

  .first-p::first-letter {
    font-size: 2.5rem;
  }
}

#page-title {
  padding: 0 0.4rem 0 0.4rem;
}

@include media-breakpoint-up(md) {
  html { //root sizes
    font-size: 16px;
  }

  #to-top-arrow {
    right: 2.5rem; // Place button 1rem the right
  }

  nav, footer {
    li {
      &.active {
        a {
          padding: 0.1rem 0.2rem;
          font-weight: bold;
          color: hsla(0, 0%, 0%, 0.7) !important; //overwrite navbar-dark
          background-color: hsla(60, 90%, 58%, 1);
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  html {
    font-size: 14px;
  }

  #to-top-arrow {
    right: 1rem; // Place button 1rem the right
  }

  .main-content {
    border-radius: 0.2rem;
  }

  nav {
    .burguer {
      margin: $spacer * 0.25 0 !important;
    }
  }

  nav, footer {
    ul {
      padding: 0.2rem 0;
      li {
        &.selectable,
        &.active {
          border-bottom: $border-width solid $border-color;
          border-radius: 0 !important;
          a {
            font-weight: bold;
            color: hsla(17, 100%, 10%, 0.7) !important; //overwrite navbar-dark
          }
        }
      }
    }
  }
}

nav, footer {
  @extend .bg-dark;
  @extend .m-0;
  @extend .p-0;
  ul {
    padding-top: 0.1rem;
    li {
      &.selectable,
      &.active {
        @extend .rounded-top;
        @extend .border-top;
        @extend .border-right;
        @extend .border-left;
      }
      &.selectable:not(:hover) {
        @extend .shadow-sm;
        background-color: $gray-400;
        a {
          color: hsla(0, 0%, 0%, 0.5) !important; // overwrite navbar-dark
        }
      }
      &.selectable:hover {
        @extend .bg-light;
        a {
          color: black !important; // overwrite navbar-dark
        }
      }
    }
  }
  p {
    margin: 0;
  }
}



a {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }

}

footer {
  @extend .shadow-lg;
  color: white;
  font-size: 0.75rem;
  background-color: hsl(0, 100%, 100%);
  .main-footer {
    padding: 0.5rem 0;
  }
  li {
    span {
      font-size: 1.25rem;
    }

  }
}

#page-title,
.dark-bg-link {
  color: $gray-500;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.social-button {
  @extend .dark-bg-link;
  padding: 0 0.5rem;
}

.other-contact {
  //max-width: 16rem;
  a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
  }
}

#to-top-arrow {
  display: none; // Hide button by default
  position: fixed; // Sticky position
  bottom: 4rem; // Place button 4rem above the bottom
  z-index: 99; // Avoid overlapping
}

#main-menu {
  ul {
    li {
      padding: 0 1rem;
    }
  }
}

.pb-6,
.py-6 {
  padding-bottom: $spacer * 5 !important;
}

.main-title {
  @extend .border-bottom;
  @extend .pb-3;
  @extend .mb-4;
  border-width: 0.1rem !important;
  border-color: hsl(34, 0%, 80%) !important;
}

.title,
#name-title {
  font-family: monospace;
  @extend .px-3;
  @extend .shadow-lg;
  color: white;
  background-color: hsla(0, 0, 0, 0.7);
}

.title {
  font-size: 1.7rem;
}

#name-title {
  font-size: 2rem;
}
