html {
    margin: 0 2rem;
}

img.profile {
    height: 10rem;
    margin: 0rem 1rem;
    border-radius: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.row_first {
    margin: 0 0 1.5rem 0
}

.column {
    margin: 0 1.5rem 0 0;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
.column_picture {
    flex: 0 1 0rem;
}

.column_first {
    flex: 0 1 15rem;
}

.column_last {
    flex: 1 1 15rem;
}

.column_justify {
    justify-content: center;
}